* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");

/* En Tête */
header {
  display: flex;
  justify-content: space-between;
}

.logoreservia {
  width: 100px;
  height: 50px;
  margin-left: 30px;
  margin-top: 20px;
}

.listenav {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 40px 0;
  font-family: "Raleway", sans-serif;
  margin-right: 30px;
}

.listenav li {
  margin-left: 60px;
}

.listenav li a {
  padding-left: 20px;
  padding-right: 20px;
}

#Hébergements {
  color: #0065fc;
  border-top: solid 2px #0065fc;
  padding-top: 39px;
}

#Activités {
  color: black;
}

#Sinscrire {
  font-weight: bold;
  color: #0065fc;
}

.h1entête {
  margin-left: 30px;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}

.Soustitreh2 {
  color: black;
  margin-left: 30px;
  padding-top: 5px;
  padding-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 0.7rem;
  font-weight: 500;
}

form {
  margin-left: 30px;
  display: flex;
  align-items: center;
}

#logomap {
  border: #f2f2f2 solid 12px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #f2f2f2;
}

input {
  border: #f2f2f2 solid 1px;
  height: 40px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: black;
  font-weight: bold;
}

button {
  font-family: "Raleway", sans-serif;
  background-color: #0065fc;
  border: 2px;
  height: 40px;
  width: 90px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
}

/* Nouvelles règles si la fenêtre fait moins de 768px */
@media screen and (max-width: 768px) {
  input {
    border: #f2f2f2 solid 1px;
    width: 330px;
  }

  .h1entête {
    font-size: 2rem;
    padding-top: 20px;
  }

  .Soustitreh2 {
    padding-bottom: 40px;
    padding-top: 20px;
    font-size: 1.3rem;
    font-weight: lighter;
  }

  .listenav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: none;
    margin-right: 0px;
    font-size: 1.3rem;
  }

  .listenav li {
    margin-left: none;
  }

  .listenav {
    margin-left: -170px;
    padding-bottom: 20px;
  }

  .listenav li a {
    padding-left: 40px;
    padding-right: 40px;
  }

  .navbar {
    margin-top: 70px;
    margin-right: 1100px;
  }

  .divsinscrire {
    position: absolute;
    margin-top: -70px;
    margin-left: 310px;
  }

  #Hébergements {
    color: #0065fc;
    border-top: none;
    padding-top: none;
    border-bottom: solid 2px #0065fc;
    padding-bottom: 20px;
  }

  #Activités {
    border-bottom: solid 2px #f2f2f2;
    padding-bottom: 20px;
  }
}

/* FILTRES */
.Titrefiltres {
  display: flex;
  font-family: "Raleway", sans-serif;
  margin-right: 30px;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
}

.Filtres {
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px;
}

.Soustitresfiltreslogo {
  width: 40px;
  height: 40px;
  background-color: #deebff;
  border: 1px solid #deebff;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Soustitresfiltres {
  height: 40px;
  background-color: white;
  border: 2px solid #f2f2f2;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  margin-left: 1px;
}

.Titrefiltrelien {
  margin-left: 10px;
  margin-right: 10px;
}

.Soustitresfiltreslogo1 {
  color: blue;
}

.navfiltres {
  display: flex;
  flex-wrap: wrap;
}

.Resultatsfiltres {
  display: flex;
  align-items: center;
}

.Resultatsfiltreslogo {
  height: 1.8rem;
  width: 1.8rem;
  border: solid 1px #d9d9d9;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.Resultatsfiltreslogoicone {
  color: #0065fc;
  font-size: 20px;
}

.Resultatfiltrestexte {
  font-family: "Raleway", sans-serif;
  color: #969292;
  font-size: 0.8rem;
  margin-bottom: 20px;
}

/* Nouvelles règles si la fenêtre fait moins de 768px */
@media screen and (max-width: 768px) {
  .Filtres {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .Titrefiltres {
    display: flex;
    margin-left: 0px;
    margin-bottom: 20px;
  }

  .Soustitresfiltres {
    width: 200px;
  }
}

/* Hébergements à Marseille */

.HébergmentsàMarseille {
  background-color: #f2f2f2;
  border-radius: 12px;
  margin-left: 30px;
  margin-right: 30px;
  height: 560px;
  width: 800px;
}

.HébergementsàMarseilleh2 {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  margin-left: 30px;
  padding-top: 20px;
  margin-bottom: 5px;
}

.Hebergements {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.HebergementsMarseillechoix {
  margin-left: 30px;
  margin-top: 20px;
  border: solid 1px white;
  background-color: white;
  border-radius: 12px;
  width: 218px;
  height: 190px;
  font-family: "Raleway", sans-serif;
  font-size: 0.7rem;
  box-shadow: 0px 0px 19px 0px rgba(224, 220, 220, 0.938);
}

.imageshebergements {
  width: 210px;
  height: 120px;
  border-radius: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  object-fit: cover;
}

.Titreh3hebergements {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 2.5px;
}

.Soustitreh3hebergements {
  color: black;
  margin-left: 10px;
  margin-bottom: 5px;
}

.Etoileshebergements {
  margin-left: 10px;
}

.etoilespleineshebergement {
  color: #0065fc;
}

.etoilesvideshebergement {
  color: #d9d9d9;
}

.Afficherplus {
  font-family: "Raleway", sans-serif;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Nouvelles règles si la fenêtre fait moins de 768px */
@media screen and (max-width: 768px) {
  .HébergmentsàMarseille {
    background: none;
  }

  .HébergementsàMarseilleh2 {
    padding-top: 650px;
    margin-left: 0px;
  }

  .Hebergements {
    display: flex;
    flex-direction: column;
  }

  .HebergementsMarseillechoix {
    width: 435px;
    height: 200px;
    margin-left: 0px;
  }

  .imageshebergements {
    width: 425px;
    height: 120px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .Afficherplus {
    margin-left: 0px;
  }
}

/*Hebergements les plus populaires*/
.Hébergementspopulaires {
  background-color: #f2f2f2;
  border-radius: 12px;
  width: 400px;
  height: 560px;
  display: inline-block;
  float: right;
  margin-right: 30px;
  margin-top: -560px;
}

.Hebergementspopulairesh2 {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  margin-left: 30px;
  margin-top: 20px;
}

.logopopulaire {
  margin-left: 130px;
}

.Hebergementspopulaireschoix {
  margin-left: 30px;
  margin-top: 20px;
  border: solid 1px white;
  background-color: white;
  border-radius: 12px;
  width: 335px;
  height: 135px;
  font-family: "Raleway", sans-serif;
  font-size: 0.7rem;
  box-shadow: 0px 0px 19px 0px rgba(224, 220, 220, 0.938);
}

.textehebergementspopulaires1 {
  font-family: "Raleway", sans-serif;
  position: absolute;
  top: 415px;
  right: 115px;
}

.textehebergementspopulaires2 {
  font-family: "Raleway", sans-serif;
  position: absolute;
  top: 570px;
  right: 144px;
}

.textehebergementspopulaires3 {
  font-family: "Raleway", sans-serif;
  position: absolute;
  top: 725px;
  right: 109px;
}

.Hebergementpoph3 {
  margin-bottom: 5px;
}

.etoileshebergementspop {
  margin-top: 60px;
}

.etoileshebergementspop2 {
  margin-top: 45px;
}

.etoileshebergementspop3 {
  margin-top: 60px;
}

.imageshebergementspopulaires {
  width: 128px;
  height: 128px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  display: block;
  margin-left: 2px;
  margin-top: 2px;
  object-fit: cover;
}

/* Nouvelles règles si la fenêtre fait moins de 768px */
@media screen and (max-width: 768px) {
  .Hébergementspopulaires {
    width: 500px;
    height: 600px;
    display: flex;
    float: left;
    flex-direction: column;
    margin-left: 0px;
    border-radius: 0px;
  }

  .Hebergementspopulaireschoix {
    width: 435px;
    height: 150px;
  }

  .imageshebergementspopulaires {
    height: 143px;
    width: 143px;
  }

  .textehebergementspopulaires1 {
    top: 665px;
    right: 160px;
  }

  .textehebergementspopulaires2 {
    top: 835px;
    right: 189px;
  }

  .textehebergementspopulaires3 {
    top: 1005px;
    right: 154px;
  }

  .etoileshebergementspop {
    margin-top: 75px;
  }

  .etoileshebergementspop2 {
    margin-top: 65px;
  }

  .etoileshebergementspop3 {
    margin-top: 80px;
  }

  .logopopulaire {
    margin-left: 230px;
  }
}

/*Activités*/

.ActivitésMarseillesection {
  border-radius: 12px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
}

.activitésh2 {
  font-family: "Raleway", sans-serif;
  padding-top: 30px;
  margin-bottom: 20px;
}

.ActivitésMarseille {
  display: flex;
  flex-wrap: wrap;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.articlevieuxport {
  border-radius: 12px;
  box-shadow: 0px 0px 19px 0px rgba(224, 220, 220, 0.938);
}

.Imagevieuxport {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-size: cover;
  width: 280px;
  height: 400px;
  object-fit: cover;
}

.activitésh3 {
  padding: 10px;
  font-family: "Raleway", sans-serif;
}

.articlefortpomègues {
  border-radius: 12px;
  box-shadow: 0px 0px 19px 0px rgba(224, 220, 220, 0.938);
}

.Imagefortpomègues {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-size: cover;
  width: 280px;
  height: 200px;
  object-fit: cover;
}

.articleilesdufrioul {
  border-radius: 12px;
  box-shadow: 0px 0px 19px 0px rgba(224, 220, 220, 0.938);
  position: absolute;
  margin-left: 310px;
  padding-top: 275px;
}

.Imageilesdufrioul {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-size: cover;
  width: 280px;
  height: 125px;
  object-fit: cover;
}

.articleparcnationaldescalanques {
  border-radius: 12px;
  box-shadow: 0px 0px 19px 0px rgba(224, 220, 220, 0.938);
}

.Imageparcnationaldescalanques {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-size: cover;
  width: 280px;
  height: 400px;
  object-fit: cover;
}

.articlenotredamedelagarde {
  border-radius: 12px;
  box-shadow: 0px 0px 19px 0px rgba(224, 220, 220, 0.938);
}

.Imagenotredamedelagarde {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-size: cover;
  width: 280px;
  height: 125px;
  object-fit: cover;
}

.articleparclongchamp {
  border-radius: 12px;
  box-shadow: 0px 0px 19px 0px rgba(224, 220, 220, 0.938);
  position: absolute;
  margin-left: 940px;
  padding-top: 200px;
}

.Imageparclongchamp {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-size: cover;
  width: 280px;
  height: 200px;
  object-fit: cover;
}

/* Nouvelles règles si la fenêtre fait moins de 768px */
@media screen and (max-width: 768px) {
  .ActivitésMarseille {
    display: flex;
    flex-direction: column;
  }

  .activitésh2 {
    padding-top: 1500px;
  }

  .Imagevieuxport {
    width: 435px;
    height: 200px;
  }

  .articlefortpomègues {
    margin-top: 20px;
  }

  .Imagefortpomègues {
    width: 435px;
    height: 200px;
  }

  .Imageilesdufrioul {
    width: 435px;
    height: 200px;
  }
  .articleilesdufrioul {
    position: relative;
    margin-left: 0px;
    padding-top: 0px;
    margin-top: 20px;
  }

  .Imageparcnationaldescalanques {
    width: 435px;
    height: 200px;
  }

  .articleparcnationaldescalanques {
    margin-top: 20px;
  }

  .Imagenotredamedelagarde {
    width: 435px;
    height: 200px;
  }

  .articlenotredamedelagarde {
    margin-top: 20px;
  }

  .Imageparclongchamp {
    width: 435px;
    height: 200px;
  }

  .articleparclongchamp {
    position: relative;
    margin-left: 0px;
    padding-top: 0px;
    margin-top: 20px;
  }
}

/* Pied de page */
footer {
  background-color: #f2f2f2;
  height: 190px;
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  line-height: 35px;
  font-weight: 100;
}

.Colonnes {
  margin-left: -200px;
  margin-top: 30px;
}

/* Nouvelles règles si la fenêtre fait moins de 768px */
@media screen and (max-width: 768px) {
  footer {
    height: 500px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
  }

  .Colonnes {
    margin-left: 0px;
  }
}
